<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.database"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="OPEN_DETAIL_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="OPEN_DETAIL_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity android:name=".introSlider.WelcomeActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="OPEN_DETAIL_ACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".SignInActivity"
           />
        <activity android:name=".MainActivity"
             />
        <activity android:name=".NewPostActivity" />
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".BasicActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".MapActivity"></activity>

    </application>

</manifest>